<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
    <br><br>
    <table>
      <tr>
        <td> sendMSG </td>
        <td> <input type="text" id="sendMsg" size="100" disabled> </td>
      </tr>
      <tr>
        <td> </td>
        <td> <input id="chat-message-input" type="text" size="100"> </td>
      </tr>
    </table>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);


        const chatSocket = new WebSocket(
            'ws://'
            + "172.30.1.10:9200"
            + '/ws/chat/'
            + roomName
            + '/'
        );
        function sendMSG() {
            chatSocket.send(JSON.stringify({
                'message': message,
                'textType' : "ttttttt"
            }));
            messageInputDom.value = '';
        };

        sendMSG();
        // 소캣을 받았을때
        chatSocket.onmessage = function(e) {

            const data = JSON.parse(e.data);
            document.querySelector('#sendMsg').value = (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
              send_MSG();
                // document.querySelector('#chat-message-submit').click();
            }
        };
        function send_MSG() {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = "HwangYongJu ---- " + messageInputDom.value;
            if(messageInputDom.value == ''){
              return;
            }
            chatSocket.send(JSON.stringify({
                'message': message,
                'textType' : "ttttttt"
            }));
            messageInputDom.value = '';
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = "HwangYongJu : " + messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
  </body>
</html>
